.canva {
    margin-left: 18rem;
    margin-top: 4rem;
    height: 63rem;
    & .title {
        font-size: 5rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
        & .name {
            color: rgba(255, 0, 0, 0.808);
        }
    }
    & p {
        font-size: 1.6rem;
    }
}

.screen {
    display: flex;
    height: 53rem;
    margin-top: 4rem;
    & .screen-left {
        display: flex;
        flex-direction: column;
        width: 70rem;
        justify-content: space-between;
    
    }
}

.activity {
    width: 100%;
    height: 27rem;
    background: rgba(255, 0, 0, 0.26);
    border-radius: .6rem;
}

.bottom-activity {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: black;
}

.length-activity {
    width: 22rem;
    height: 22rem;
    background: rgba(255, 187, 0, 0.219);
    border-radius: .6rem;
}

.spider {
    width: 22rem;
    height: 22rem;
    background: rgba(174, 0, 255, 0.253);
    border-radius: .6rem;
}

.score {
    width: 22rem;
    height: 22rem;
    background: rgba(11, 214, 204, 0.233);
    border-radius: .6rem;
}
