.canva {
    margin-left: 18rem;
    margin-top: 4rem;
    height: 63rem;
    & .title {
        font-size: 5rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
        & .name {
            color: rgba(255, 0, 0, 0.808);
        }
    }
    & p {
        font-size: 1.6rem;
    }
}

.screen {
    display: flex;
    height: 53rem;
    margin-top: 4rem;
    & .screen-left {
        display: flex;
        flex-direction: column;
        width: 70rem;
        justify-content: space-between;
    
    }
}

.activity {
    width: 100%;
    height: 27rem;
    background: #FBFBFB;
    border-radius: .6rem;
}

.bottom-activity {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: black;
}

.average-activity {
    position: relative;
    width: 22rem;
    height: 22rem;
    background: rgba(255, 0, 0, 0.897);
    border-radius: .6rem;
    & .average-info {
        position: absolute;
        top: 1.8rem;
        font-weight: 700;
        left: 1rem;
        color: rgba(255, 255, 255, 0.637);
        font-size: 1.5rem;
    }
}

.spider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22rem;
    height: 22rem;
    background: rgba(0, 0, 0, 0.87);
    border-radius: .6rem;
    color: white;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 22rem;
    height: 22rem;
    background: #FBFBFB;
    border-radius: .6rem;
    & .goal {
        position: absolute;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.bolder {
    font-size: 4rem;
}