* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
}

li {list-style: none;}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.application-container{
    position: relative;
    width: 80%;
    min-width: 1200px;
    height: 80%;
    min-height: 860px;
    background-color: rgba(173, 173, 173, 0.151);
}

@import './header';
@import './verticalMenu';
@import './canva';
